<br>

# Introdução

In [8]:
import pprint
import pandas as pd

In [22]:
# Read Data
url = 'https://raw.githubusercontent.com/gaemapiracicaba/norma_dec_8468-76/main/data/tab_DecEst8468.xlsx'
df = pd.read_excel(url, index_col=0)
df.head()

,padrao_qualidade,parametro_descricao,parametro_sigla,valor_minimo_permitido,valor_maximo_permitido,unidade,norma_referencia,norma_texto
id,,,,,,,,
1,Classe 1,Amônia,NH3,NaN,0.50,mg/l de N,"Item 1, Art. 10","Amônia - 0,5 mg/l de N (cinco décimos de milig..."
2,Classe 1,Arsênico,As,NaN,0.10,mg/l,"Item 1, Art. 10","Arsênico - 0,1 mg/l (um décimo de miligrama po..."
3,Classe 1,Bário,Ba,NaN,1.00,mg/l,"Item 1, Art. 10","Bário - 1,0 mg/l (1 miligrama por litro)"
4,Classe 1,Cádmio,Cd,NaN,0.01,mg/l,"Item 1, Art. 10","Cádmio - 0,01 mg/l (um centésimo de miligrama ..."
5,Classe 1,Cromo (total),Cr,NaN,0.05,mg/l,"Item 1, Art. 10","Cromo (total) - 0,05 mg/l (cinco centésimo de ..."

In [26]:
# Classes
list_classes = list(set(df['padrao_qualidade']))
list_classes.sort()
pprint.pprint(list_classes)

# Filter Data by Classes
df = df.loc[(df['padrao_qualidade'] == 'Classe 2')]

['Classe 1', 'Classe 2', 'Classe 3', 'Classe 4']

In [29]:
# Parâmetros
list_parametros = list(set(df['parametro_descricao']))
list_parametros.sort()
pprint.pprint(list_parametros)

# Filter Data by Parâmetros
df = df.loc[(df['parametro_descricao'] == 'Oxigênio Dissolvido')]
df

['Oxigênio Dissolvido']

,padrao_qualidade,parametro_descricao,parametro_sigla,valor_minimo_permitido,valor_maximo_permitido,unidade,norma_referencia,norma_texto
id,,,,,,,,
38,Classe 2,Oxigênio Dissolvido,OD,5.0,NaN,mg/l,"Inciso V, Art. 11","Oxigênio Dissolvido (OD), em qualquer amostra,..."

In [30]:
# Check and Get Results
if len(df) == 1:
    data = df.to_dict(orient='records')[0]
    pprint.pprint(data, width=150, sort_dicts=False)
else:
    print('Erro')

{'padrao_qualidade': 'Classe 2',
 'parametro_descricao': 'Oxigênio Dissolvido',
 'parametro_sigla': 'OD',
 'valor_minimo_permitido': 5.0,
 'valor_maximo_permitido': nan,
 'unidade': 'mg/l ',
 'norma_referencia': 'Inciso V, Art. 11',
 'norma_texto': 'Oxigênio Dissolvido (OD), em qualquer amostra, não inferior a 5 mg/l (cinco miligramas por litro)'}